{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div id="navbar" class="navbar-collapse collapse">
          <a class="navbar-brand" href="http://hedley.pythonanywhere.com/">En español</a>
          <!--a class="navbar-brand" href="#">Contacto</a>
          <a class="navbar-brand" href="% url 'acerca' %">Acerca de mí</a-->
          <div/>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
<br/>
<br/>
<br/>
<br/>
<article>
<div class="jumbotron">
    <h1>Curriculum Vitae</br>Hedley Knewjen Quintana: MD, MSc, PhD</h1>

    <div class='row'>
        <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class"panel-title"><h2>
                Vital data</h2></div></div>
            <div class="panel-body" style="color:black;">
                <ul class="list-group">
                <li class="list-group-item"><b>Name:</b> Hedley Knewjen Quintana</li>
                <li class="list-group-item"><b>Birthday:</b> 13<sup>th</sup> July, 1978</li>
                <li class="list-group-item"><b>Birthplace:</b>Panamá City, Panamá</li>
                <li class="list-group-item"><b>Picture:</b></br>     <img class="img-responsive " width="220" height="250"
			src="https://scontent.xx.fbcdn.net/v/t31.0-8/705016_10151639926170318_1273084530_o.jpg?oh=915cc722a23b362621ef4766c948e4c5&oe=5937BBA6"
            alt="Foto de Hedley, tomada de Facebook"/> </li>
                </ul></div>
            </div>
    </div>
        <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class"panel-title"><h2>Education</h2></div></div>
            <div class="panel-body" style="color:black;">
                <ul class="list-group">
                <li class="list-group-item"><b>High School: </b></br><a href="https://iferminaudeau.wordpress.com">Instituto Fermín Naudeau</a>, 1995</li>
                <li class="list-group-item"><b>University:</b></br> Medical Doctor,</br><a href="http://www.up.ac.pa/PortalUp/FacMedicina.aspx?menu=99">Universidad de Panamá</a>, 2002</li>
<li class="list-group-item"><b>University:</b></br> MSc Molecular Biology,</br><a href="http://sh.se">Södertörns Högskola</a>, 2010</li>
<li class="list-group-item"><b>University:</b></br> PhD,</br><a href="http://ki.se/imm/start">Karolinska Institute</a>, 2017</li>
<li class="list-group-item"><b>MOOC:</br> MiríadaX,</b></br><a href="https://backpack.openbadges.org/share/e1b963c9f9288bb2440d3af34d94745e/">Open badges collection</a></li>
                <li class="list-group-item"><b>MOOC:</br> Coursera,</b></br><a href="                https://www.coursera.org/user/i/f486f5f728b66fc468b8f6ac84a84d5a
">My profile in Coursera</a></li>


                </ul></div>

            </div></div>
        <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class"panel-title"><h2>Work experience</h2></div></div>
            <div class="panel-body" style="color:black;">
                <ul class="list-group">
                <li class="list-group-item"><b>General Practitioner:</b></br>Clínica Navarro & Arango, 2007-2008</li>
                <li class="list-group-item"><b>Medical officer:</b></br>Royal Caribbean -Navigator of the Seas-</br>(USA), 2008</li>
                <li class="list-group-item"><b>General Practitioner:</b></br>Clínica Navarro & Arango, 2009</li>

                </ul></div></div></div>
           <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class"panel-title"><h2>
                Papers</h2></div></div>
            <div class="panel-body" style="color:black;">
                 <div class="panel panel-info">
                <li class="list-group-item"><div class="panel-heading"><b>Project: Myocardial infarction Fatality</b></div>
                <div class="panel-body" style="color:black;">
                <li class="list-group-item"><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0132601">Agreement between Myocardial Infarction Patients and Their Spouses on Reporting of Data on 82 Cardiovascular Risk Exposures</a></br>2015</li>
                <li class="list-group-item"><a href="http://www.ijcme-journal.com/article/S2214-7624(16)30015-9/abstract">Diabetes, hypertension, overweight and hyperlipidemia and 7-day case-fatality in first myocardial infarction</a></br>2016</li>
                 </li>
                <li class="list-group-item">Doctoral thesis: <a href="https://openarchive.ki.se/xmlui/handle/10616/45694">Fatality of coronary events - epidemiological studies of potential determinants</a></br>2017</li>

                </ul></div></div></div></div></div>
                </div>
                <div class="row">
                <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class"panel-title"><h2>
                Personal link in social media</h2></div></div>
            <div class="panel-body" style="color:black;">
                <ul class="list-group">

                <li class="list-group-item"><a href="http://ki.se/people/hequin">My page at Karolinska Institute</a></li>
                <li class="list-group-item"><a href="https://github.com/HedleyPty/">Github</a></li>
                <li class="list-group-item"><a href="https://www.researchgate.net/profile/Hedley_Quintana">ResearchGate</a></li>
                <li class="list-group-item"><a href="https://se.linkedin.com/in/hedley-quintana-md-171b1663">Linkedin</a></br></li>
                <li class="list-group-item"><a href="https://twitter.com/hedleyquintana">Twitter</a></br></li>
                <li class="list-group-item"><a href="https://www.facebook.com/hedleyq">Facebook</a></br></li>



                </ul></div>
</div>
</div>
<div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class"panel-title"><h2>Programming languages</h2>
                    </div>
                </div>
                <div class="panel-body" style="color:black;">
                    <ul class="list-group">
                        <li class="list-group-item">Python</li>
                        <li class="list-group-item">Java</li>
                        <li class="list-group-item">C++</li>
                        <li class="list-group-item">R</li>
                        <li class="list-group-item">Go</li>
                    </ul>
                </div>
            </div>
        </div>
</div>

</div>
</article>
{% endblock %}
